<script type="text/javascript">
  <% if logged_in %>
    window.currentUser = <%= render("api/users/user_basic.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://use.fontawesome.com/c97e238170.js"></script>

<main id="root"></main>
