$inverted: #0088ff;
$off-black: #212121;
$orange: #f7640e;
$darker-orange: #ff5500;
$dark-gray: #88898c;
$gray: #adacab;
$light-medium-gray: #cccccc;
$medium-gray: #e5e5e5;
$light-gray: #d9d9d9;
$comment-box-gray: #f2f2f2;
$lightest-gray: #f2f3f4;
