input.track-detail-new-comment {
  width: 710px;
  height: 27px;
  border-radius: 4px;
  padding-left: 5px;
  background-color: white;
  margin-left: 10px;
  border: 1px solid $gray;
}

img.comment-avatar {
  width: 42px;
  height: 42px;
  border: 1px solid $gray;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-main {
  display: flex;
  flex-direction: column;
}

.comment-index-item {
  display: flex;
  margin: 20px 0;
}

ul.comment-index {
  width: 782px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
}

.track-detail-user-info {
  display: flex;
}

section.track-detail-add-comment-area {
  display: flex;
  position: absolute;
  top: 466px;
  flex-direction: column;
  width: 1150px;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 50px;
  height: auto;
  background-color: white;
}

section.track-detail-add-comment-box {
  display: flex;
  align-items: center;
  background-color: $comment-box-gray;
  padding-right: 10px;
  border: 1px solid $gray;
  margin-top: 0px;
  margin-bottom: 10px;
}

input.track-detail-new-comment {
  width: 710px;
  height: 27px;
  border-radius: 4px;
  padding-left: 5px;
  background-color: white;
  margin-left: 10px;
  border: 1px solid $gray;
}

img.track-detail-add-comment-user-picture {
  width: 42px;
  height: 42px;
  border-right: 1px solid $gray;
}

section.track-detail-center {
  display: flex;
  align-items: center;
  height: 1000px;
}

section.track-detail-edit-and-delete {
  width: 1200px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

button.track-detail-delete-button {
  padding: 5px 8px;
  border: 1px solid $gray;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 20px;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.track-detail-delete-button:hover {
  color: $orange;
}

a.track-detail-edit-button {
  padding: 5px 8px;
  border: 1px solid $gray;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 20px;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.track-detail-edit-button:hover {
  font-color: $orange;
}

img.track-detail-user-photo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 20px;
}

p.track-detail-user-info-3 {
  margin-bottom: 10px;
  background-color: $lightest-gray;
  display: inline-block;
  padding: 5px;
}

p.track-detail-user-info-4 {
  background-color: $lightest-gray;
  padding: 5px;
}

.comments-header-and-count {
  display: flex;
  justify-content: space-between;
  width: 782px;
  padding-bottom: 4px;
  border-bottom: 1px solid $gray;
  align-items: center;
  margin-bottom: 15px;
}
.comments-header {
  color: $orange;
  font-size: 24px;
}

section.comment-index-item {
  display: flex;
  justify-content: space-between;
}

section.comment-index-item-1 {
  display: flex;
}

button.delete-comment-button {
  margin-right: 10px;
}
