.login-form {
  background: white;
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $darker-orange;
  border-radius: 5%;
  font-family: $sans-serif;
  font-size: 18px;
}

.splash-log-in-modal-hide {
  opacity: 0;
}

.splash-log-in-modal-show {
  transition: opacity 1s;
  opacity: 1;
}

input.login-submit {
  display: flex;
  background: $darker-orange;
  height: 40px;
  width: 400px;
  justify-content: center;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

input.login-text-input {
  display: flex;
  width: 400px;
  height: 40px;
  font-size: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

input.login-text-input:focus {
  border: 1px solid black;
}

input.login-submit:focus {
  width: 398px;
  height: 38px;
  border: 1px solid black;
}

input.login-text-input:last-of-type {
  margin-bottom: 25px;
}

li.login-error {
  color: $darker-orange;
}

div.login-errors {
  height: 30px;
  width: 400px;
}
