header.nav-bar {
  position: fixed;
  right: 7px;
  width: 100%;
  height: 46px;
  font-size: 18px;
  font-family: $sans-serif;
  color: $light-gray;
  display: flex;
  background-color: #333333;
  z-index: 5;
}

.nav-bar ul.nav-bar-list {
  margin: auto;
  flex-shrink: 0;
  width: 1200px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

.nav-bar ul li a {
  display: flex;
  text-align: center;
  padding: 15px 0px;
}

.nav-bar ul li a:hover {
  color: white;
}

.nav-bar ul li:last-of-type {
  margin-right: 40px;
}

.nav-bar input.nav-bar-search {
  width: 500px;
  background: $medium-gray;
  border-radius: 5px;
  height: 28px;
  text-align: left;
  padding-left: 10px;
  color: black;
  transition: background 1s;
}

.nav-bar i.fa-search {
  position: relative;
  right: 25px;
  color: $gray;
}

.nav-bar i.fa-search:hover {
  cursor: pointer;
}
.nav-bar input.nav-bar-search:focus {
  background: white;
  transition: background 1s;
}

#nav-bar-logo {
  background: linear-gradient(#f70, #f30);
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#nav-bar-logo a {
  background: linear-gradient(#f70, #f30);
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
}

#nav-bar-logo h1 {
  padding-left: 10px;
}

#nav-bar-logo-image {
  width: 20px;
  height: 20px;
}
