footer.music-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 60px;
  background: $light-gray;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $gray;
  font-family: $sans-serif;
  right: 14px;
  left: 0px;
}

section.player-content-and-buttons {
  width: 1200px;
  display: flex;
  flex-shrink: 0;
  height: 60px;
  background: $light-gray;
  justify-content: space-between;
  align-items: center;
  font-family: $sans-serif;
  // left: 0px;
  right: 14px;
}

section.player-time-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

section.player-time-info .player-current-time {
  color: $orange;
}

progress.player-progress-bar {
  width: 315px;
  height:2px;
  background: $orange;
}

img.player-album-artwork-mini {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

section.player-song-info {
  display: flex;
  align-items: center;
  height: 60px;
  width: 250px;
}

.player-song-title-and-user {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-size: 14px;
}

input.player-volume-controller {
  margin-right: 5px;
}

button.player-play-pause-button {
  width: 15px;
}
