.signup-form {
  background: white;
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $darker-orange;
  border-radius: 5%;
  font-family: $sans-serif;
  font-size: 18px;
  opacity: 1;
}

.splash-sign-up-modal-hide {
  position: fixed;
  top: -1000px;
  left: calc(100vw - 50% - 227px);
  transition: top .7s;
}

.splash-sign-up-modal-show {
  position: fixed;
  top: calc(100vh - 50% - 177px);
  left: calc(100vw - 50% - 227px);
  transition: top .7s;
  z-index: 10;
  opacity: 1;
}


.splash-sign-up-overlay-show {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255, .75);
  transition: background-color .4s;
}

.splash-sign-up-overlay-hide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255, 0);
  transition: background-color .4s;
}

input.signup-submit {
  display: flex;
  background: $darker-orange;
  height: 40px;
  width: 400px;
  justify-content: center;
  border-radius: 256px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

input.signup-text-input {
  display: flex;
  width: 400px;
  height: 40px;
  font-size: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

input.signup-text-input:focus {
  border: 1px solid black;
}

input.signup-submit:focus {
  width: 398px;
  height: 38px;
  border: 1px solid black;
}

input.signup-text-input:last-of-type {
  margin-bottom: 25px;
}

li.signup-error {
  color: $darker-orange;
}

div.signup-errors {
  height: 50px;
  width: 400px;
}

button.guest-login {
  width: 400px;
  height: 40px;
  text-align: center;
  border-radius: 256px;
  border: 1px solid $gray;
  box-sizing: border-box;
}

button.guest-login:focus {
  border: 1px solid black;
}
