.signup-form {
  background: white;
  height: 550px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  border: 2px solid $orange;
  border-radius: 5%;
  font-family: $sans-serif;
  font-size: 18px;
}

input.continue {
  display: flex;
  background: $orange;
  height: 40px;
  width: 400px;
  justify-content: center;
  border-radius: 5px;
  color: white;
}

button.continue {
  display: flex;
  justify-content: center;
  background: $orange;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  color: white;
}

input.text-input {
  display: flex;
  width: 400px;
  height: 40px;
  font-size: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding-left: 5px;
}

li.error {
  color: $orange;
}
