.signup-form {
  background: white;
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $darker-orange;
  border-radius: 5%;
  font-family: $sans-serif;
  font-size: 18px;
}

.splash-sign-up-modal-hide {
  position: fixed;
  top: -450;
  opacity: 0;
}

.splash-sign-up-modal-show {
  top: 300;
  opacity: 1;
  transition: opacity 1s, top 1s;
}

input.signup-submit {
  display: flex;
  background: $darker-orange;
  height: 40px;
  width: 400px;
  justify-content: center;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

input.signup-text-input {
  display: flex;
  width: 400px;
  height: 40px;
  font-size: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

input.signup-text-input:focus {
  border: 1px solid black;
}

input.signup-text-input:last-of-type {
    margin-bottom: 25px;
}

li.signup-error {
  color: $darker-orange;
}

div.signup-errors {
  height: 50px;
  width: 400px;
}
