div.splash-page {
  width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $sans-serif;
  font-size: 24px;
  background: url("https://s3-us-west-1.amazonaws.com/listentothis-dev/splash_compressed.jpg");
  // credit to Jan Senderek, unsplash.com
  background-size: 1400px 100%;
  background-repeat: no-repeat;
}
.ReactModalPortal {
  width: 100%;
  height: 100%;
}
.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.splash-tag-line {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  margin-top: 450px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid $orange;
}

button.guest-login {
  display: flex;
  justify-content: center;
  background: $darker-orange;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

button.guest-login:focus {
  width: 398px;
  height: 38px;
  border: 1px solid black;
}

a#splash-get-started {
  color: white;
  border: 1px solid $orange;
  border-radius: 5px;
  padding: 10px 15px;
  background: $darker-orange;
}

a#splash-get-started:hover {
  cursor: pointer;
}

header.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 100px;
}

h1#tag-line {
  padding: 10px;
  border-radius: 5px;
  color: $light-gray;
  margin-bottom: 10px;
}

h1.splash-logo {
  padding: 10px;
  border: 1px solid $orange;
  margin-left: 20px;
  border-radius: 5px;
  color: $light-gray;
}

button.splash-auth-button {
  width: 80px;
  height: 30px;
  color: $light-gray;
  border: 1px solid $orange;
  border-radius: 5px;
  padding: 5px;
  text-align:center;
}

button.splash-auth-button:hover {
  color: white;
}

button.splash-auth-button:first-of-type {
  margin-right: 10px;
  width: 90px
}

button.splash-auth-button:last-of-type {
  margin-right: 20px;
}
