ul.track-index-item {
  height: 170px;
  width: 650px;
  display: flex;
  font-family: $sans-serif;
  font-size: 14px;
  color: $light-medium-gray;
  margin: 20px 25px;
}

ul.track-index-item-information {
  display: flex;
  flex-direction: column;
}

ul.track-index-item-information li {
  margin-bottom: 5px;
}

img.track-index-item-album-artwork {
  height: 160px;
  width: 160px;
  margin-right: 20px;
}

a.track-index-username:hover {
  color: $gray;
}

a.track-index-track-title {
  color: black;
}

.track-index-item i.fa-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: $orange;
  color: white;
  margin-right: 10px;
  border: 2px solid $orange;
}

.track-index-item i.fa-pause {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: $darker-orange;
  margin-right: 10px;
  border: 2px solid $orange;
}

.track-index-item i.fa-pause:hover {
  cursor: pointer;
}

.track-index-item i.fa-play:hover {
  cursor: pointer;
  background-color: $darker-orange;
}

.track-index-item i.fa-play:before {
  position: relative;
  left: 3px;
}

.track-index-item i.fa-pause:before {
  position: relative;
  left: 1px;
}
