section#user-detail {
  margin: auto;
  margin-top: 46px;
  background: white;
  width: 1200px;
  font-family: $sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 800px;
}

section.user-detail-billboard {
  position: absolute;
  width: 1200px;
  height: 260px;
  background: linear-gradient(315deg, rgb(225, 229, 229) 0%, rgb(127, 125, 116) 100%);
  display: flex;
  flex-shrink: 0;
}

h1.user-tracks-header {
  position: absolute;
  color: $darker-orange;
  font-size: 24px;
  border-bottom: 1px solid $orange;
  background-color: white;
  width: 160px;
  height: 34px;
  z-index: 1;
}

section.user-tracks-header {
  position: absolute;
  top: 307px;
  color: $darker-orange;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: white;
  width: 1175px;
  height: 50px;
}
#user-detail .track-index {
  position: absolute;
  top: 363px;
  width: 1200px;
  height: auto;
  background: white;
}

#user-detail ul.track-index-item:last-of-type {
  padding-bottom: 60px;
}

.user-detail-avatar {
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-detail-billboard-username {
  margin-top: 30px;
  margin-left: 30px;
  color: $lightest-gray;
  background-color: $off-black;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0px 10px;
  font-size: 24px;
}

.user-detail-billboard-location {
  margin-top: 10px;
  margin-left: 30px;
  color: $lightest-gray;
  background-color: $off-black;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0px 10px;
  font-size: 24px;
}

section.user-detail-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-detail-track-list {
  display: absolute;
  top: 500px;
  background: white;
}

.user-detail-bio {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  flex-direction: column;
  top: 281px;
  right: 5vw;
  border-left: 1px solid $light-gray;
  padding: 15px;
  padding-bottom: 400px;
}

p.user-detail-bio-header {
  border-bottom: 1px solid $orange;
  width: 90px;
  color: $orange;
  font-size: 24px;
  margin-bottom: 20px;
}
