section#user-detail {
  margin: auto;
  margin-top: 46px;
  background: white;
  width: 1200px;
  font-family: $sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 60
}

section.user-detail-billboard {
  width: 1200px;
  height: 260px;
  background: linear-gradient(315deg, rgb(225, 229, 229) 0%, rgb(127, 125, 116) 100%);
  display: flex;
  flex-shrink: 0;
}

h1.user-tracks-header {
  color: $darker-orange;
  font-size: 18px;
  margin: 15px 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $light-gray;
}
//
// .user-detail .track-index {
//   width: 850px;
//   height: auto;
//   background: white;
// }

.user-detail-section-1 {
  display: flex;
}

.user-detail-avatar {
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-detail-billboard-username {
  margin-top: 30px;
  margin-left: 30px;
  color: $lightest-gray;
  background-color: $off-black;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0px 10px;
  font-size: 24px;
}

#user-detail ul.track-index {
  // margin-top: 260px;
  // background-color: white;
  // display: inline-block;
}

section.user-detail-bio {
  display: flex;
  height: 100px;
}
